@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot');
  src:  url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf') format('truetype'),
        url('/fonts/icomoon.woff') format('woff'),
        url('/fonts/icomoon.woff2') format('woff2'),
        url('/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* Avada will generate its own classes from selection.json, so no other CSS is needed */
